#define JIS_DOUBLE_QUOTES		LS(NUMBER_2)
#define JIS_AMPERSAND			LS(NUMBER_6)
#define JIS_QUOTE				LS(NUMBER_7)
#define JIS_EQUAL				LS(MINUS)
#define JIS_CARET				EQUAL
#define JIS_YEN					NON_US_BACKSLASH
#define JIS_PLUS				LS(SEMICOLON)
#define JIS_TILDE				LS(JIS_CARET)
#define JIS_PIPE				LS(JIS_YEN)
#define JIS_AT					LEFT_BRACKET
#define JIS_COLON				SINGLE_QUOTE
#define JIS_ASTERISK			LS(JIS_COLON)
#define JIS_BACKQUOTE			LS(JIS_AT)
#define JIS_UNDERSCORE			LS(0x87)
#define JIS_LEFT_BRACKET		RIGHT_BRACKET
#define JIS_RIGHT_BRACKET		BACKSLASH
#define JIS_LEFT_PARENTHESIS	LS(NUMBER_8)
#define JIS_RIGHT_PARENTHESIS	LS(NUMBER_9)
#define JIS_LEFT_BRACE			LS(JIS_LEFT_BRACKET)
#define JIS_RIGHT_BRACE			LS(JIS_RIGHT_BRACKET)
